<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_generate_entries"
        name="Generate Entries"
        action="payroll_preparation_from_project_action"
        parent="payroll_preparation.menu_payroll_preparation_root"
        sequence="200"
        groups="payroll_preparation.group_manager"
        />

</odoo>
